nav  {
    background-color: rgba(0, 255, 157, 0.404);
    padding: 15px;
    max-width: auto;
}

nav li{ 
    display: inline-block;
    font-size: 24px;
    width: 25%
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    background-color: rgba(128, 128, 128, 0.596);
    padding:10px;
    text-align: center;

}
 nav li a {
     text-decoration: none;
     color: black;
 }
 nav a:hover{
     background-color: rgba(240, 255, 252, 0.918);
     padding: 5px;
     border-radius: 5px;
 }
 #container{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows:repeat( 3, minmax(100px, auto));
    grid-column-gap:10px;
    grid-row-gap:10px;
    max-width: 960px;
    /* margin: 0 auto; */
 }
 @media screen and(min-width:760px){
    #container{
        display: grid;
        grid-template-columns: repeat( 3, 1fr);
        grid-template-rows:repeat( 3, minmax(100px, auto));
        grid-column-gap:10px;
        grid-row-gap:10px;
        max-width: 960px;
        /* margin: 0 auto; */
     }
 }
 
 #container div{
    padding: 20px;
 }

            .one{
                grid-area: one;
            }
            .two{
                grid-area: two;
            }
            .three{
                grid-area: three;
            }
            .four{
                grid-area: four;
            }
            .five{
                grid-area: five;
            }
            .six{
                grid-area: six;
            }
            .seven{
            grid-area: seven;
            }
            .eight{
            grid-area: eight;
            }
            .nine{
            grid-area: nine
            }
            .ten{
            grid-area: ten;
            } */

/* .eleven{
    grid-area: eleven;
 }
 .eight{
     grid-column:1/2;
     grid-row: 3;
 }
 .seven{
     grid-column: 3/4;
 }
 .nine{
     grid-row: 3;
     grid-column: 2/3;
 }
