nav  {
    background-color: rgba(0, 255, 157, 0.404);
    padding: 15px;
}

nav li{ 
    display: inline-block;
    font-size: 24px;
    width: 25%
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    background-color: rgba(128, 128, 128, 0.596);
    padding:10px;
    text-align: center;

}
 nav li a {
     text-decoration: none;
     color: black;
 }
 nav a:hover{
     background-color: rgba(240, 255, 252, 0.918);
     padding: 5px;
     border-radius: 5px;
 }
 div container{
   max-width: 960px;
   padding: 30px;
 }